*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html {
    scrollbar-width: thin;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    background-color: #f2f2f2;
    color: hsl(0, 0%, 35%);
}

.sheet-container {
    --grid-columns: repeat(var(--cols), 100px);
    --grid-rows: repeat(var(--rows), 24px);
    width: max-content;
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-template-rows: 24px 1fr;
}

.header-row--top {
    position: sticky;
    top: 0;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: var(--grid-columns);
    z-index: 2;
}

.header-row--left {
    grid-row-start: 2;
    grid-column-start: 1;
    display: grid;
    grid-template-rows: var(--grid-rows);
    position: sticky;
    left: 0;
    z-index: 2;
}

.inner-container {
    border: 2px solid #a9a7a7;
    background-color: #f2f2f2;
    grid-column-start: 1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
}

.header-cell {
    background-color: #f2f2f2;
    background-color: #f4f6f8;
    font-size: .75rem;
    font-weight: 500;
    border: 1px solid #c0c0c0;
    display: grid;
    place-items: center;
    position: relative;
    user-select: none;
}

.resizer {
    position: absolute;
    width: 16px;
    height: 100%;
    top: 0;
    right: -8px;
    z-index: 10;
    cursor: col-resize;
    opacity: 0;
    transition: opacity 200ms;
}

.resizer:hover,
.resizer-hover {
    opacity: 1;
}

.resizer::before,
.resizer::after {
    background-color: #202020;
    content: '';
    position: absolute;
    width: 3px;
    top: 3px;
    bottom: 3px;
    border-radius: 4px;
}

.resizer::after {
    right: 0;
}

.header-row--left .resizer {
    cursor: row-resize;
    width: unset;
    right: 40%;
    left: 40%;
    height: 10px;
    top: unset;
    bottom: -6px;
}

.header-row--left .resizer::before,
.header-row--left .resizer::after {
    background-color: #202020;
    width: unset;
    height: 2px;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
}

.header-row--left .resizer::after {
    top: unset;
    bottom: 0;
}

.header-cell.is-highlight {
    background-color: #d3e3fd;
}


.body-sheet {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: var(--grid-rows);
    grid-row-start: 2;
    grid-column-start: 2;
}

.cell {
    border: 1px solid #e0e0e0;
    padding: 0 .25rem;
    color: hsl(0, 0%, 25%);
    width: 100%;
    height: 100%;
    font-size: .75rem;
    line-height: 1.5;
    text-wrap: nowrap;
    cursor: default;
    background-color: #f2f2f2;
    position: relative;
    /* overflow: hidden; */
}

.cell[contenteditable="true"] {
    cursor: text;
}

.cell:focus,
.cell.is-active {
    border: 2px solid #1a73e8;
    outline: none;
}