*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html {
    scrollbar-width: thin;
    user-select: none;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    background-color: #f2f2f2;
    color: hsl(0, 0%, 35%);
    overflow: hidden;
}


/* GRID-CONTAINER */
#grid-container {
    --rows: 40;
    --cols: 26;
    --grid-columns: repeat(var(--cols), 100px);
    --grid-rows: repeat(var(--rows), 24px);
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-template-rows: 24px 1fr;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-width: thin;
    position: relative;
}

.horizontal-head,
.vertical-head {
    display: grid;
    text-align: center;
    grid-column-start: 2;
    position: sticky;
    z-index: 9999;
}

.horizontal-head {
    grid-template-columns: var(--grid-columns);
    top: 0;
}

.vertical-head {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-template-rows: var(--grid-rows);
    left: 0;
}

.head-cell,
.fixed {
    background-color: #f4f6f8;
    font-size: .75rem;
    font-weight: 500;
    border: 1px solid #c0c0c0;
    display: grid;
    place-items: center;
    position: relative;
}

.head-cell.highlighted {
    background-color: #d3e3fd;
    font-weight: 700;
}

.head-cell.head-selected {
    background-color: #0b57d0;
    color: #fff;
    font-weight: 700;
}

.fixed {
    grid-column-start: 1;
    border-width: 3px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
}

.spreadsheet {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: var(--grid-rows);
}

.cell-input {
    border: 1px solid #e0e0e0;
    color: hsl(0, 0%, 25%);
    font-size: .75rem;
    line-height: 1.5;
    text-wrap: nowrap;
    cursor: default;
    background-color: #f2f2f2;
    position: relative;
}

.computed-value,
.value {
    position: absolute;
    inset: 0;
}

.value,
.computed-value {
    padding: 0 .25rem;
    text-wrap: nowrap;
    cursor: default;
    background-color: #f2f2f2;
    overflow: hidden;
}

.value {
    cursor: auto;
}

.value:focus {
    outline: none;
}

.cell-input:focus,
.cell-input.is-active {
    border: 2px solid #1a73e8;
    outline: none;
}

.selected-box {
    position: absolute;
    height: 100%;
    pointer-events: none;
    position: absolute;
    background-color: rgba(14, 101, 235, .1);
    /* opacity: .1; */
    z-index: 999;
    border: 1px solid #0b57d0;
}