*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html {
    scrollbar-width: thin;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    background-color: #f2f2f2;
    color: hsl(0, 0%, 35%);
}
